

.form form {
    display: flex;
    flex-direction: column;
    
    width: 200px;
}
.form #blog-content {
    width: 500px;
}
.form label {
    margin-bottom: 5px;

}

.form input,
.form textarea {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.form button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.form button:hover {
    background-color: #0056b3;
}
.container {
display: flex;
align-items: center;
justify-content: space-between;
padding: 200px;
padding-left: 200px;
padding-right: 400px;
}
/* .divider {
    width: 2px;
    background-color: black;
    height: 100%;
    align-self: stretch;
} */


body {
    background-color: #f0f0f0; 
    color: #333; 
}

header {
    background-color: #333; 
    color: #fff; 
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body.dark-theme {
    background-color: #333333; 
    color: #ffffff; 
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }